body {
  padding: 20px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FFF8CC;
}

a {
  color: #00B700;
}

ul li {
  padding-top: 5px;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
